<!DOCTYPE html>
<html>
    
    <head>
        <style>
            table.inputtable {
                width: 100%;    
                background-color: none;
            }
            table.weathertable {
                width: 100%;    
                background-color: #f1f1c1;
                border: 1px solid black;
               border-collapse: collapse;
               
            }
            table.weathertable th {
                border-collapse: collapse;
                border: 1px solid black;
            }
            table.weathertable tr {
                border-collapse: collapse;
                border: 1px solid black;
            }
            table.weathertable td {
                border-collapse: collapse;
                border: 1px solid black;
            }
        </style>
        <title>User Palel</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="page-header">
            <h1>Weather App</h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/userpanel">User Panel</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                        <li><a href="/delete"  onclick="return confirm('Are you sure?')">Delete account</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container row">
            <h1>Hi <%= user %>, Welcome to user panel</h1>

                <form action="/userpanel" method="post">
                    <table class="inputtable">
                        <tr>
                            <th><input id="addCityBtn" class="btn btn-primary" type="submit" value="Add city"/></th>
                            <th><input id="cityInput" type="text" name="cityToAdd"/></th>
                        </tr>
                        <tr>
                            <th><button id="deleteCityBtn" class="btn btn-primary" type="submit">Delete city</button></th>
                            <th><input id="cityDelInput" type="text" name="cityToDelete"/></th>
                        </tr>
                    </table>
                </form>            
           <h3><%= message %><h3>
        </div>
        <div>
            <%Object.keys(fore).forEach((key) => { %>
                <table class = "weathertable">

                        <h3><%= key %></h3>

                        <tr>
                        <th>Date</th><th>Temp[C]</th><th>Description</th>
                        </tr>
                    
                        <% for (var i = 0; i < fore[key].length; i++) { %>
                        <tr>
                        <td><%= fore[key][i].date %></td>
                        <td><%= fore[key][i].temp %></td>
                        <td><%= fore[key][i].description %></td>
                        </tr>    
                        <% } %>
                </table>
            </br>
            <%});4%> 
        </div>   
    </body>
</html>